body{
    margin-top: 20px;
    width: 700px;
    height: 650px;
    margin-left: 350px;
    justify-content: center;
    background-color: #D8BD8A;
    border-radius: 15px;
    align-items: center;
    
    

}
.calculos{
    width: 500px;
    height: 70px;
    margin-left: 100px;
    justify-content: space-between;
    text-align: center;
    border-top-left-radius:25px ;
    border-top-right-radius: 25px;
    padding-bottom: 5px;
    background-color: #913e3e;


    
    
}
.display{
    width: 450px;
    height: 45px;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: hidden;
    border: none;
    background-color:#913e3e;
    margin-top: 15px;
    cursor: pointer;
    text-align: right;
    caret-color: transparent;
}

.display:focus{
    outline: none;
}



.teclado{
    width: 500px;
    margin-left: 100px;
    

    
    

}

.botones{
display:inline-grid; 
grid-template-columns: 100px 100px 100px 100px;
column-gap: 25px;
row-gap: 12.5px;
padding-left: 12.5px;
padding-right: 12.5px;
padding-top: 12.5px;
padding-bottom: 12.5px;
border: none;
background: linear-gradient(225deg, #ac4a4a, #913e3e);
border-bottom-left-radius:25px ;
border-bottom-right-radius: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 34px;
    background: linear-gradient(225deg, #ac4a4a, #913e3e);
    box-shadow:  -23px 23px 46px #542424,
             3px -3px 16px #ee6666;
    font-size: 30px;
    border: none;
    
}

button:hover{
    opacity: 0.6;;
    cursor: pointer;
}
button:active{
    opacity: 0.3;
}
